#mac
.DS_Store
#idea
.idea
*.iml
#maven
target
.external-resources
.mvn/timing.properties
#jenkins
.repository
#eclipse
.settings
.classpath
.project
.com_puppetlabs_geppetto_pptp_target
.metadata
.recommenders
